{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %}
    {% trans "Checkout" %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{% trans "Checkout" %}</h1>
        <div class="text-center text-muted">
            <h3>{% trans "Your order" %}r</h3>
            <ul class="list-group list-group-flush">
                {% for item in cart %}
                    <li class="list-group-item">
                        {{ item.quantity }}x {{ item.product.name }}
                        <span>${{ item.total_price }}</span>
                    </li>
                    {% if cart.coupon %}
                        <li class="list-group-item">
                            {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount%}
                                "{{ code }}" ({{ discount }}% off)
                            {% endblocktrans %}
                            <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p>{% trans "Total" %}: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
        </div>
        <form action="." method="post" class="mb-3">
            {{ form|bootstrap }}
            <div class="text-center"><input type="submit" value="{% trans "Place order" %}" class="btn btn-outline-success"></div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}