{% extends "shop/base.html" %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Checkout</h1>
        <div class="text-center text-muted">
            <h3>Your order</h3>
            <ul class="list-group list-group-flush">
                {% for item in cart %}
                    <li class="list-group-item">
                        {{ item.quantity }}x {{ item.product.name }}
                        <span>${{ item.total_price }}</span>
                    </li>
                    {% if cart.coupon %}
                        <li>
                            "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                            <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p>Total: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
        </div>
        <form action="." method="post">
            {{ form|bootstrap }}
            <div class="text-center"><input type="submit" value="Place order" class="btn btn-outline-success"></div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}