{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Pay by credit card
{% endblock %}

{% block content %}
    <style>
        .mmmss {
            margin-top: 20px;
        }

        .asdasd {
            margin-left: 40px;
        }

        @media screen and (max-width: 568px) {
            .mmmss {
                flex-direction: column;
            }

            .mmmss .asdasd {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    </style>
    <div class="container">
        <h1 class="text-center">Pay by credit card</h1>
        <form action="." id="payment" method="post" style="margin-top: 20px;">
            <label for="card-number">Card Number</label>
            <div id="card-number" class="m-0 py-1 pl-3" style="height: 50px; border: 2px solid black"></div>
            <div class="mmmss d-flex justify-content-start">
                <div>
                    <label for="cvv">CVV</label>
                    <div id="cvv" class="m-0 py-1 pl-3"
                         style="width: 140px;height: 50px; border: 2px solid black"></div>
                </div>
                <div class="asdasd">
                    <label for="expiration-date">Expiration Date</label>
                    <div id="expiration-date" class="m-0 py-1 pl-3"
                         style="width: 140px;height: 50px; border: 2px solid black"></div>
                </div>
            </div>
            <input type="hidden" id="nonce" name="payment_method_nonce" value="">
            {% csrf_token %}
            <input type="submit" value="Pay with the card" class="btn btn-outline-success mt-4">
        </form>
    </div>
    <!-- Load the required client component. -->
    <script src="https://js.braintreegateway.com/web/3.36.0/js/client.min.js"></script>

    <!-- Load Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.36.0/js/hosted-fields.min.js"></script>
    <script>
        var form = document.querySelector('#payment');
        var submit = document.querySelector('input[type="submit"]');
        braintree.client.create({
            authorization: '{{ client_token }}'
        }, function (clientErr, clientInstance) {
            if (clientErr) {
                console.error(clientErr);
                return;
            }
            braintree.hostedFields.create({
                client: clientInstance,
                styles: {
                    'input': {'font-size': '23px'},
                    'input.invalid': {'color': 'red'},
                    'input.valid': {'color': 'green'}
                },
                fields: {
                    number: {selector: '#card-number'},
                    cvv: {selector: '#cvv'},
                    expirationDate: {selector: '#expiration-date'}
                }
            }, function (hostedFieldsErr, hostedFieldsInstance) {
                if (hostedFieldsErr) {
                    console.error(hostedFieldsErr);
                    return;
                }
                submit.removeAttribute('disabled');
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                        if (tokenizeErr) {
                            console.error(tokenizeErr);
                            return;
                        }
// set nonce to send to the server
                        document.getElementById('nonce').value = payload.nonce;
// submit form
                        document.getElementById('payment').submit();
                    });
                }, false);
            });
        });
    </script>

{% endblock %}